opam-version: "2.0"
file-depends: [
  "C:\\Users\\17176\\AppData\\Local\\Programs\\DkMLNative\\bin\\with-dkml.exe"
  "sha256=1230b2a46f667c0c72027148f6ed52206ed2ef5c7c24a6b50d80a6c84e6a0222"
]
variables {
  location-native:
    "C:\\Users\\17176\\AppData\\Local\\Programs\\DKMLNA~1\\bin\\WITH-D~1.EXE"
  location-mixed:
    "C:/Users/17176/AppData/Local/Programs/DkMLNative/bin/with-dkml.exe"
}
