opam-version: "2.0"
file-depends: [
  [
    "C:\\Users\\17176\\AppData\\Local\\Programs\\DkMLNative\\bin\\ocamlc.exe"
    "md5=03a304ebea39b13bcfd72367478620ac"
  ]
  [
    "C:\\Users\\17176\\AppData\\Local\\Programs\\DkMLNative\\lib\\ocaml\\graphics.cmi"
    "md5=00000000000000000000000000000000"
  ]
]
variables {
  path: "C:\\Users\\17176\\AppData\\Local\\Programs\\DKMLNA~1\\bin"
}
